{% extends "AplicacionTemplates/padre.html" %}  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block contenidoQueCambia %}
    <link href="{%static "Aplicacion/css/estilo.css"%}" rel="stylesheet" />

    <form class="titulo" action="{% url 'Buscar' %}" method="GET">
        <h3>Busca un curso</h3>
        <input type="text" name="nombre" id ="nombre">
        <input type="submit" value="Buscar">
    </form>
    {% endblock %} 
    
</body>
</html>